@model IEnumerable<ASP_Project.Models.Category> 
@using ASP_Project.Models

@{
    ViewBag.Title = "Index";
    List<Product> products = ViewBag.products;
}
<div class="d-flex justify-content-between mt-2">
    <h3>Category List</h3>
    <a href="@Url.Action("Create","CategoriesDetails")" id="BtnAddNewCategory" class="btn btn-outline-primary btn-sm mr-2 mb-2">Add New</a>
</div>
@if (Model.Count() > 0)
{
    <table class="table table-bordered table-hover table-hover table-responsive-sm">
        <tr>
            <th>Category Name</th>
            <th width="160">Action</th>
        </tr>

        @foreach (var item in Model)
        {
            bool foreignKey = products.Where(x => x.CategoryId == item.CategoryId).Count() > 0;

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td width="160">
                    <a href="@Url.Action("Edit", "CategoriesDetails", new { id = item.CategoryId })" class="btn btn-outline-success btn-sm BtnEditCategory"><i class="fa fa-edit"></i> Edit</a>
                    <a href="@Url.Action("Delete","CategoriesDetails",new { id=item.CategoryId})" class="btn btn-outline-danger btn-sm toyDelete BtnDeleteProduct @((foreignKey) ? "disabled" : "")"><i class="fa fa-trash"></i> Delete</a>
                </td>
            </tr>
        }

    </table>
}
else
{
    <div class="alert alert-info">No category found !</div>
}


@*
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@